/* See https://developers.google.com/maps/documentation/javascript/tutorial
 * html and body 100% height declarations are necessary.
 */
html {
  height: 100%;
}

.on-top-of-map {
  z-index: 2;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}


/* The marker-list styling is based on the #todo-list styling from the todo app
 * presented in lesson "Learning a New Codebase" in Udacity's "JavaScript
 * Design Patterns" course, available at
 * https://www.udacity.com/course/javascript-design-patterns--ud989-nd
 *
 * Search for "edit-btn" in
 * https://github.com/udacity/ud989-todo-app, more specifically, in
 * https://github.com/udacity/ud989-todo-app/blob/master/bower_components/todomvc-common/base.css
 */
button {
  padding: 0;
  border: 0;
  background: none;
  vertical-align: baseline;
}

.dropdown-menu {
  overflow: auto;
  min-width: 300px;
}

.dropdown-menu li {
  position: relative; /* position relative ensures that the buttons appear next to the dropdown entry */
  height: 48px;
}

.dropdown-menu li label {
  display: block;
  padding: 1em;
}

.dropdown-menu li .destroy,
.dropdown-menu li .edit-btn {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
  margin: auto 0;
  transition: all 0.2s;
}

.dropdown-menu li .edit-btn {
  right: 48px;
}

.dropdown-menu li .destroy {
  /* Some space needed to the right, so when the button size increases
   * upon hovering no horizontal scrollbar appears for the menu:
   */
  right: 6px;
}

.dropdown-menu li:hover label {
  padding-right: 96px; /* Space depends on size of buttons to the right */
}

.dropdown-menu li:hover .destroy,
.dropdown-menu li:hover .edit-btn {
  display: block;
}

.dropdown-menu li .destroy:hover,
.dropdown-menu li .edit-btn:hover {
  text-shadow: 0 0 1px #000, 0 0 10px rgba(199, 107, 107, 0.8);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.dropdown-menu li .edit-btn:after {
  content: "✎";
}

.dropdown-menu li .destroy:after {
  content: "✖";
}

.edit {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.dropdown-menu li .edit {
  display: none;
}

.dropdown-menu li.editing .edit {
  display: block;
  padding: 1em;
  margin: 0;
  width: 100%; /* only works correctly in conjunction with box-sizing border-box below */

  /* The width of the input element should fill the width of the surrounding
   * div. It will not do so unless we use lots of tweaking, or apply
   * box-sizing: border-box. See
   * http://stackoverflow.com/questions/1030793/input-with-displayblock-is-not-a-block-why-not
   */
  -moz-box-sizing: border-box; /* ff2 */
  -ms-box-sizing: border-box; /* ie8 */
  -webkit-box-sizing: border-box; /* safari3 */
  -khtml-box-sizing: border-box; /* konqueror */
  box-sizing: border-box;
}

.dropdown-menu li.editing .view {
  display: none;
}


/* .marker-list shall be overlaid on .fullscreen, as described here:
 * http://codepen.io/anon/pen/sojbd, referred to from
 * http://stackoverflow.com/questions/26440578/float-a-div-over-google-maps-while-maintaining-bootstrap-responsiveness?lq=1
 */
.marker-list {
  position: relative;
  top: 5em;
  /* The left offset depends on the padding and the width of the container. For >480px viewports,
   * the width of the marker-list is 384px + 1em padding left + 1em padding
   * right. To left/right justify the marker-list at the 480px breakpoint, we use
   * (480px - (384px + 2em)) / 2 == 34px (with 1em == 14px)
   */
  left: 34px;
  padding: 1em;
  max-height: 90vh;
  background: #fff;
  opacity: 0.8;
  border-radius: 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.marker-list ul {
  padding-left: 0;
  list-style: outside none none;
}

.marker-list li {
  position: relative;
  font-size: 1em;
  margin: auto 0;
}

.marker-list li label {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.marker-list li .destroy,
.marker-list li .edit-btn {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
  margin: auto 0;
  transition: all 0.2s;
}

.marker-list li .edit-btn {
  right: 48px;
}

.marker-list li .destroy {
  right: 0px;
}

.marker-list li:hover label {
  padding-right: 96px; /* Space depends on size of buttons to the right */
}

.marker-list li:hover .destroy,
.marker-list li:hover .edit-btn {
  display: block;
}

.marker-list li .destroy:hover,
.marker-list li .edit-btn:hover {
  text-shadow: 0 0 1px #000, 0 0 10px rgba(199, 107, 107, 0.8);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.marker-list li .edit-btn:after {
  content: "✎";
}

.marker-list li .destroy:after {
  content: "✖";
}

.marker-list li.editing {
  padding: 0;
}

.edit {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.marker-list li .edit {
  display: none;
}

.marker-list li.editing .edit {
  display: block;
  padding: 13px 17px 12px 0;
  margin: 0;
  width: 100%; /* only works correctly in conjunction with box-sizing border-box below */

  /* The width of the input element should fill the width of the surrounding
   * div. It will not do so unless we use lots of tweaking, or apply
   * box-sizing: border-box. See
   * http://stackoverflow.com/questions/1030793/input-with-displayblock-is-not-a-block-why-not
   */
  -moz-box-sizing: border-box; /* ff2 */
  -ms-box-sizing: border-box; /* ie8 */
  -webkit-box-sizing: border-box; /* safari3 */
  -khtml-box-sizing: border-box; /* konqueror */
  box-sizing: border-box;
}

.marker-list li.editing .view {
  display: none;
}

@media (max-width: 480px) {
  .marker-list {
    left: 7.0835%; /* ((384px + 2em) / 480px) / 2, with 1em == 14px */
    padding-left: 2.9166%; /* 14px / 480px */
    padding-right: 2.9166%; /* 14px / 480px */
    width: 80%; /* 384px / 480px */
  }
}

@media (min-width: 481px) {
  .marker-list {
    float: left;
    width: 384px; /* keep it at 80% of 480px. TODO: Use box-sizing: border-box for maintainability */
  }
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

/* See https://developer.mozilla.org/en-US/docs/Online_and_offline_events
 * TODO: This class prescribes much more layout than its name indicates.
 */
.white-on-red-warning {
  position: relative;
  top: 1em;
  left: 1em;
  border-radius: 0.2em;
  width: 30%;
  font: bold 1em sans-serif;
  color: #FFF;
  background: red;
  padding: 0.5em;
  z-index: 3; /* Ensure it is on top of the Map */
}
